body {
  font-family: "Cheltenham", Georgia;
}

.nav {
  display: inline;
  height: 8%;
  width: 100%;
  position: fixed;
  background: #fff;
  margin: -10px 0 0 25px;
  padding: 10px 0 0 30px;
  border-bottom: 1px solid #ccc;
  z-index: 1;
}

.nav * {
  vertical-align: middle;
}

.nav button {
  position: relative;
  left: -50px;
  background: #fff;
}

#sections-button {
  height: 30px;
  padding: 0 15px 0 34px;
  background: url('../images/nav_sprite');
  background-repeat: no-repeat;
  background-position: 6px 3px;
  background-size: 18px 18px;
  border-radius: 3px;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06);
}

#sections-button p {
  margin: 0;
  font-size: 10px;
}

.nav-button {
  height: 30px;
  padding: 0 15px 0 35px;
  border: none;
}

.nav-button p {
  margin: 0;
  font-size: 10px;
}

#nav-1 {
  background: url('../images/home_sprite');
  background-repeat: no-repeat;
  background-position: 6px 5px;
  background-size: 20px 20px;
}

#nav-2 {
  background: url('../images/search_sprite');
  background-repeat: no-repeat;
  background-position: 6px 5px;
  background-size: 20px 20px;
}

.article-links {
  width: 100%;
  margin-left: 25px;
  border-bottom: 1px solid #ccc;
  padding-top: 4%;
}

.article-links img {
  position: relative;
  left: 5px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}

.wrapper {
  width: 95%;
  margin: 0 112px;
}

.article-heading {
  width: 82%;
  margin: 0 112px;
}

.article-heading hr {
  margin-top: 4px;
}

.article-heading h4 {
  margin-top: 2px;
  margin-bottom: 24px;
  font-size: 12px;
}

.article-heading h1 {
  border-bottom: 1px solid #ccc;
  padding: 10px 0 10px 0;
  font-size: 32px;
}

.author-date * {
  display: inline-block;
  padding-right: 10px;
}

#date {
  font-weight: 300;
}

#photo-caption {
  width: 62%;
}

#photo-caption * {
  margin: 4px 0 0 0;
  display: inline;
}

.grey-text {
  color: #666;
  font-size: 13px;
}

.light-grey-text {
  color: #999;
  font-size: 12px;
}

.main-article {
  width: 80%;
  margin-left: 8%;
  padding: 30px 0 0 0;
  border-bottom: 1px solid #ccc;
}

.article-text {
  margin-left: 8%;
  width: 66%;
  font-size: 17px;
  line-height: 160%;
}

.main-article a {
  color: #316891;
}

.inflation {
  width: 82%;
  margin-left: 8%;
  padding: 10px 0 0 0;
}

.inflation h3:first-child {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
}

.inflation p:first-of-type {
  margin-top: 6px;
  font-size: 14px;
}

.infographic img {
  height: 576px;
  width: 1024px;
  position: relative;
}

.infographic div:nth-child(-n+5) {
  position: relative;
  top: -440px;
  margin-bottom: -440px;
}

.infographic div:nth-child(n+6) {
  position: relative;
  top: -170px;
  margin-bottom: -170px;
}

.info-caption {
  width: 24%;
  display: inline-block;
  padding-right: 6px;
  vertical-align: top;
}

.info-caption * {
  display: inline;
}

.info-caption h5 {
  margin: 0;
  font-size: 11px;
}

.info-caption p {
  font-size: 1px;
}

#info-authors {
  font-size: 11px;
  font-weight: 300;
  color: #999;
  margin-top: 20px;
  margin-bottom: 14px;
}

.inflation hr:first-of-type {
  border: none;
  width: 100%;
  height: 1px;
  color: #e2e2e2;
  background: #e2e2e2;
}

.inflation.article-text {
  width: 63%;
  margin-left: 75px;
  margin-bottom: 10px;
}

.media-caption {
  clear: both;
  width: 730px;
  padding-top: 6px;
  margin-top: 0;
}

.media-caption * {
  margin: 0;
  display: inline;
}

.media-caption p {
  font-size: 12px;
}

.media-caption h6 {
  font-size: 11px;
}

.inflation-section {
  margin-left: 75px;
}

#end {
  margin: 0 0 0 75px;
  width: 50px;
}

#end-text {
  width: 655px;
  margin-left: 75px;
  margin-top: 14px;
}

#end-text * {
  display: inline;
  font-weight: 300;
  font-size: 11px;
}

#end-text h6 {
  margin-left: 0;
}

.light-grey-text-link {
  color: #999;
  font-size: 11px;
  border-right: 1px solid #ccc;
  padding-left: 2px;
  padding-right: 4px;
  text-decoration: none;
}

#end-text a:last-of-type {
  border: none;
}

.additional-links {
  margin-top: 300px;
  padding-top: 8px;
  width: 85%;
  border-top: 2px solid #e2e2e2;
  margin-left: 130px;
}

.links-heading {
  padding-bottom: 30px;
}

.additional-links a {
  float: right;
  text-decoration: underline;
  font-size: 12px;
  padding-top: 6px;
  color: #6288a5;
}

.column {
  width: 15%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: 13px;
  height: 420px;
}

.column p:first-of-type {
  margin-top: 0;
}

.column:last-of-type {
  margin-left: 40px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
}

.column:last-of-type img {
  margin-left: -4px;
  padding-bottom: 6px;
}

.column:last-of-type p:nth-child(n+2) {
  font-size: 12px;
  margin: 0 0 4px 0;
}

.column:last-of-type hr {
  width: 200px;
  color: #ccc;
  background: #ccc;
  height: 1px;
  border: none;
}

footer {
  width: 85%;
  margin-top: 20px;
  margin-left: 130px;
  padding-top: 8px;
  border-top: 1px solid #ccc;
  font-size: 7px;
}

#left-links {
  float: left;
}

#right-links {
  float: right;
}

#left-links a:last-of-type, #right-links a:last-of-type {
  border: none;
}

#left-links a, #right-links a {
  padding: none;
}
